
ion-list {
  border-radius: 0px;
  background-color: #fff3e0;


}


ion-item {
  --background: #fff3e0;
  --inner-border-width: 0;

  font-size: 20px;
  color: #bd4224;
  text-align: center;

  width: auto;
}



p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}


ion-popover {
  --background: #fff3e0;
  width: 500px;
}

.popover-details {
  padding: 16px;
}

