.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.login-heading {
  font-size: 2rem; /* Adjust size as needed */
  color: white; /* Change color to white */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.form-container {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.form-container ion-item {
  --padding-start: 0;
  --border-color: #DADADA;
}

.form-container ion-item ion-label {
  color: #A6A6A6;
}

.form-container ion-item ion-icon {
  color: #c6cbd4;
}

.form-container ion-button {
  margin-top: 24px; /* Adjust as needed */
}

.sign-up {
  margin-top: 24px; /* Adjust as needed */
}
