// Define custom variables
$tab-icon-size: 20px; // Customize the size of the icons as needed

ion-tabs {
  ion-tab-bar {

    box-shadow: none; // Remove default shadow

    ion-tab-button {
      ion-icon {
        font-size: 22px;
        --ionicon-stroke-width: 0.5px; // Adjust icon stroke width
      }

      ion-label {
        display: block;
        text-align: center;
        font-size: 12px; // Adjust label font size if needed
        color: white; // Text color for labels
      }

      // Add circular background to icons
      &.tab-selected ion-icon {
        background-color: white;
        border-radius: 50%;
        padding: 5px; // Adjust as needed
        color: #ff8b38; // Icon color for selected tab
      }
    }
  }
}



