<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/aranci1.jpg" alt="Header Background Image">
    </div>
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>


</ion-header>

<ion-searchbar class="custom-searchbar" color="light" placeholder="Search" (ionChange)="filterProducts($event.detail?.value || '')"></ion-searchbar>

<ion-content>
  <div class="notification-popup" [ngClass]="{ 'show': showNotificationPopup }">
    Action: Strawberry Cake!
  </div>


  <div class="order-items">
    <ion-card *ngFor="let product of filteredProducts" mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img [src]="product.image" />
        </div>
        <div class="item-info">
          <p>{{ product.name }}</p>
          <p>{{ product.description }}</p>
          <p>{{ product.price }}</p>
          <ion-button expand="block" class="addbutton" (click)="addToCart(product)">Order</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-button expand="block" class="main-button" [routerLink]="['/my-cart']" [state]="{ cartItems: cartItems }">Go to Cart</ion-button>

  </ion-toolbar>
</ion-footer>

