<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/orange2.jpg" alt="Header Background Image">
    </div>
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>
  <ion-searchbar color="light" placeholder="Search"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="notification-popup" [ngClass]="{ 'show': showNotificationPopup }">
    Action: Strawberry Cake!
  </div>

  <h1 class="title">Order: </h1>

  <div class="order-items">
    <ion-card *ngFor="let product of products" mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img [src]="product.image" />
        </div>
        <div class="item-info">
          <p>{{ product.name }}</p>
          <p>{{ product.description }}</p>
          <p>{{ product.price }}</p>
          <ion-button expand="block" class="main-button" style="--background: #ff69b4; color: white;" (click)="addToCart(product)">Order</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" [routerLink]="['/my-cart']" [state]="{ cartItems: cartItems }">Go to Cart</ion-button>
  </ion-toolbar>
</ion-footer>

