
ion-content {
  --ion-background-color: #ffddb3; /* Pastelno narandžasta boja */
  --ion-color-base: #ffddb3; /* Tamnija nežna nijansa za font */
  --ion-text-color: #ffddb3; /* Tamnija nežna nijansa za tekst */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Prilagodite font prema vašim preferencijama */
}

ion-avatar img {
  width: 100%; /* Postavlja širinu slike na 100% */
  height: auto; /* Automatsko prilagođavanje visine */
  margin: 0; /* Uklanja bilo kakve margine */
  padding: 0; /* Uklanja bilo kakve paddinge */
  object-fit: cover;
}

/* Stilizacija teksta u headeru */
ion-toolbar ion-title {
  color:  #ffffff; /* Boja teksta */
  font-size: 30px;
  font-weight: bold; /* Debljina fonta */
  text-align: center; /* Centriranje teksta */
}



/* Stilizacija slike u headeru */
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Postavljanje pozadine iza sadržaja */
}

.header-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Održava omjer širine i visine */
}

ion-header.custom-searchbar {
  --background: #ffffff; /* Boja pozadine pretrage */
  --color: #ffddb3; /* Boja teksta */
  --placeholder-color: #ffddb3; /* Boja placeholder teksta */
  --icon-color: #ffddb3; /* Boja ikona pretrage */
}





ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 26px;
  --padding-end: 26px;
  color: white;
}

.title {
  margin-top: 0;
  color: #434343;
}

.order-items ion-card {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  margin-bottom: 16px; /* Dodatni prostor između kartica */
  background-color: #ffddb3; /* Boja pozadine kartica */

  ion-card-content {
    display: flex;
    position: relative;
    flex-direction: column; /* Stavljanje elemenata jedan ispod drugog */
    color: white;

    .item-img {
      display: flex;
      align-items: center;
      justify-content: center; /* Centriranje slike */
      margin-bottom: 16px;

      img {
        object-fit: cover;
        max-width: 100%; /* Slika će zauzimati maksimalno dostupan prostor */
        height: auto;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
      }
    }

    .item-info {
      flex-grow: 1; /* Omogućava rastezanje ovog dela kako bi se dugmad smestila na dno */
      color: #4d4d4d; /* Boja teksta */
      text-align: center; /* Centralizacija teksta */

      p {
        font-size: 16px;
        margin: 0; /* Uklanja unutrašnje margine */
      }
    }
  }
}





ion-button.addbutton {
  --background: #ff8b38; /* Boja pozadine dugmeta */
  --color: white; /* Boja teksta na dugmetu */
  --border-radius: 5px;
  max-width: 120px; /* Maksimalna širina dugmeta */
  margin: 0 auto; /* Centriranje dugmeta */
  align-self: center; /* Centriranje dugmeta */
  padding: 8px 16px; /* Dodavanje prostora između teksta i rubova dugmeta */
  font-size: 14px; /* Veličina fonta */
}


.notification-popup {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-size: 14px;
  color: #434343;
  display: none; /* Početno sakrivanje */
}

.notification-popup.show {
  display: block; /* Prikazivanje kada je potrebno */
}

.main-button {
  --background: #ff8b38; /* Promenite ovu vrednost u željenu boju */
  --color: white; /* Boja teksta */
  --border-radius: 5px;
  max-width: 120px; /* Maksimalna širina dugmeta */
  margin: 0 auto; /* Centriranje dugmeta */
  align-self: center; /* Centriranje dugmeta */
}

ion-footer.custom-footer {
  --ion-background-color: #ffddb3;
  --ion-text-color: #1a1a1a;
}


ion-footer.custom-footer ion-button {
  --ion-color-base: #ff7409;
  --ion-color-text-button: #ffffff;


}

