<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/aranci1.jpg" alt="Header Background Image">
    </div>

    <ion-title>
      Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipes</ion-title>
    </ion-toolbar>
  </ion-header>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Our cakes</ion-card-title>
      <ion-card-subtitle>Dive into the world of sweet buttercreams and tangy meringues...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Cokoladna torta" src="../../assets/Image/guglTorta.jpeg" />
          </ion-thumbnail>
          <ion-label>Choco Loco</ion-label>
          <ion-button slot="end" (click)="showDetails('cake', 'Choco Loco')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/images.jpeg" />
          </ion-thumbnail>
          <ion-label>Strawberry Shortcake</ion-label>
          <ion-button slot="end" (click)="showDetails('cake', 'Strawberry Shortcake')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/torta3.jpeg" />
          </ion-thumbnail>
          <ion-label>Dream cake</ion-label>
          <ion-button slot="end" (click)="showDetails('cake', 'Dream cake')">Details</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Our cookies</ion-card-title>
      <ion-card-subtitle>Bring Christmas to your table, everyday...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Kuki1.jpeg" />
          </ion-thumbnail>
          <ion-label>Chips Ahoy</ion-label>
          <ion-button slot="end" (click)="showDetails('cookie', 'Chips Ahoy')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Kuki2.jpeg" />
          </ion-thumbnail>
          <ion-label>Oreo</ion-label>
          <ion-button slot="end" (click)="showDetails('cookie', 'Oreo')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Kuki3.jpeg" />
          </ion-thumbnail>
          <ion-label>Sprinkles</ion-label>
          <ion-button slot="end" (click)="showDetails('cookie', 'Sprinkles')">Details</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Our muffins</ion-card-title>
      <ion-card-subtitle>Clouds of sweet cream and delicious filling...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Mafin1.jpeg" />
          </ion-thumbnail>
          <ion-label>Chocoloney</ion-label>
          <ion-button slot="end" (click)="showDetails('muffin', 'Chocoloney')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Mafin2.jpeg" />
          </ion-thumbnail>
          <ion-label>Pistaccio Cream</ion-label>
          <ion-button slot="end" (click)="showDetails('muffin', 'Pistaccio Cream')">Details</ion-button>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/Image/Mafin3.jpeg" />
          </ion-thumbnail>
          <ion-label>Blueberry Bash</ion-label>
          <ion-button slot="end" (click)="showDetails('muffin', 'Blueberry Bash')">Details</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>



