<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/orange2.jpg" alt="Header Background Image">
    </div>

    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 20px;">
    <h2>Welcome to Aranci Bakery</h2>
    <p>We are a bakery specializing in delicious muffins, cakes, and pastries. Since our establishment in 2023. We have been dedicated to crafting the finest baked goods for our customers.</p>
    <p>At Aranci, we believe in using only the highest quality ingredients to ensure the most delightful flavors in every bite. Our passion for baking drives us to continuously innovate and create new and exciting treats for our patrons.</p>
    <p>Come visit us and experience the taste of perfection at Aranci Bakery!</p>
  </div>

  <div class="additional-info">
    <p>Place your order now and enjoy!</p>
  </div>
</ion-content>
