<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/aranci1.jpg" alt="Header Background Image">
    </div>

    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <div style="padding: 20px;">
      <h2>Welcome to Aranci Bakery</h2>
      <p #paragraph1 class="paragraph">We are a bakery specializing in delicious muffins, cakes, and pastries. Since our establishment in 2023, we have been dedicated to crafting the finest baked goods for our customers.</p>
      <img src="assets/Image/Image1.jpeg" alt="Image 1" class="image">
      <p #paragraph2 class="paragraph">Founded by passionate bakers, Aranci Bakery started as a small family-owned business with a vision to bring joy to people's lives through delightful treats. Over the years, we have honed our skills, improved our techniques, and stayed up-to-date with the latest trends and flavors in the baking industry.</p>
      <img src="assets/Image/Image2.jpeg" alt="Image 2" class="image">
      <p #paragraph3 class="paragraph">Our commitment to quality and innovation has enabled us to grow into a renowned bakery, known for our delectable creations and personalized service. Today, we continue to delight our customers with a wide range of mouthwatering desserts, made with love and care.</p>
      <img src="assets/Image/Image3.jpeg" alt="Image 3" class="image">
      <p #paragraph4 class="paragraph">From classic favorites to modern delicacies, we offer something for everyone. Visit us and experience the taste of perfection at Aranci Bakery!</p>
      <img src="assets/Image/Image4.jpeg" alt="Image 4" class="image">
    </div>

    <div class="additional-info">
      <p>Place your order now and enjoy!</p>
    </div>
  </div>



</ion-content>




