<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/aranci1.jpg" alt="Header Background Image">
    </div>

    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-info">

    <div class="profile-picture">
      <div class="profile-picture-frame">
        <ion-img [src]="profile.picture" *ngIf="profile && profile.picture"></ion-img>
      </div>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" *ngIf="!profile.picture || editMode">
    </div>


    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="profile.name" *ngIf="!editMode"></ion-input>
      <ion-label>{{ profile.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input [(ngModel)]="profile.address" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input [(ngModel)]="profile.city" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Postal Code</ion-label>
      <ion-input [(ngModel)]="profile.postal_code" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="profile.email" *ngIf="!editMode"></ion-input>
      <ion-label>{{ profile.email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="profile.phone_number" [disabled]="!editMode"></ion-input>
    </ion-item>
  </div>


  <div class="order-history">
    <h2>Order History</h2>
    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Description</th>
        <th>Date of Delivery</th>
        <th>Payment Method</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.orderid }}</td>
        <td>{{ order.description }}</td>
        <td>{{ order.date_of_delivery }}</td>
        <td>{{ order.payment_method }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-button expand="block" (click)="saveProfile()" *ngIf="editMode">Save</ion-button>
    <ion-button expand="block" (click)="toggleEditMode()" *ngIf="!editMode && profileSaved">Edit Profile</ion-button>
    <ion-button expand="block" (click)="toggleEditMode()" *ngIf="!editMode && !profileSaved">Create Profile</ion-button>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-footer>


