<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-background">
      <img src="assets/Image/orange2.jpg" alt="Header Background Image">
    </div>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/tabs/tab1" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Profile
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="profile-info">
    <!-- Profile Picture -->
    <div class="profile-picture">
      <div class="profile-picture-frame">
        <ion-img [src]="profile.picture" *ngIf="profile.picture"></ion-img>
      </div>
      <ion-input  type="file" accept="image/*" (change)="onFileSelected($event)" *ngIf="!profile.picture || editMode"></ion-input>
    </div>

    <!-- Name, Address, City, Gender, Email, Phone Number -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="profile.name" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input [(ngModel)]="profile.address" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input [(ngModel)]="profile.city" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Postal Code</ion-label>
      <ion-input [(ngModel)]="profile.postal" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="profile.email" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="profile.phoneNumber" [disabled]="!editMode"></ion-input>
    </ion-item>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="toggleEditMode()">{{ editMode ? 'Save' : 'Edit Profile' }}</ion-button>
  </ion-toolbar>
</ion-footer>
