

.profile-picture-frame{
  width: 120px;
  height: 120px;
  border: 2px solid #ff6600; // Svetlonarandžasta boja
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; // Centriranje na sredini

  img {
    max-width: 100%;
    max-height: 100%;
  }
}




ion-content {
  --ion-background-color:  #ffddb3; // Bez boje pozadine
  --ion-color-base: #4d4d4d; // Tamno siva boja teksta
  --ion-text-color: #ffffff; // Tamno siva boja teksta
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 26px;
  --padding-end: 26px;
}

ion-toolbar ion-title{
  color: #ffffff; /* Boja teksta */
  font-size: 30px;
  font-weight: bold; /* Debljina fonta */
  text-align: center; /* Centriranje teksta */
}

ion-item {
  --background: #ffddb3; /* Postavljanje pozadinske boje item containera */
  border-radius: 15px; /* Prilagodite vrijednost radi željenog izgleda */
  color: #6e6868; /* Boja teksta itema */

  --inner-border-width: 0;
}

ion-label {
  color: #ffffff; // Tamnija boja teksta
  font-size: larger;
}

ion-input {
  --color: #ff8e38; // Narandžasta boja
}

ion-footer.custom-footer {
  ion-toolbar {
    display: flex; /* Koristimo fleksibilni prikaz za centriranje */
    justify-content: center; /* Centriranje sadržaja na horizontalnoj osi */
    align-items: center; /* Centriranje sadržaja na vertikalnoj osi */
    --background: #ffddb3; // Svetlonarandžasta boja
    --ion-color-base: #fff; // Bela boja teksta


    ion-button {
      margin: auto; /* Centriranje dugmeta */
      width: 150px; /* Automatska širina dugmeta prema dužini teksta */
      font-size: 16px; /* Prilagodite veličinu fonta po želji */
      padding-top: 8px; /* Prilagodite gornji padding po želji */
      padding-bottom: 8px; /* Prilagodite donji padding po želji */
      --color: white; /* Boja teksta */
    }
  }
}






.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.header-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


