ion-content {
  --background-size: cover !important; /* Opcionalno, da bi slika zauzela cijeli prozor */
  --padding-top: 0 !important; /* Uklanjamo padding na vrhu */
  --padding-bottom: 0 !important; /* Uklanjamo padding na dnu */
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --ion-background-color: rgb(255, 221, 179); /* Tamnija boja prozora sa providnošću */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Prilagođeni font */
  font-size: 25px;
}

body {
  background-color: #1a1a1a !important; /* Postavljanje tamnije boje pozadine */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Prilagođeni font */
}

.title {
  margin-top: 0;
  color: #ffffff; /* Bela boja teksta */
  font-size: 32px; /* Veća veličina fonta */
  font-weight: bold; /* Podebljan font */
  text-align: center;
  text-decoration-line: underline;
}

.cart-items ion-card {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  margin-bottom: 16px; /* Dodatni prostor između kartica */
  color: #ff7409; /* Bela boja teksta */
  font-size: 18px; /* Veća veličina fonta */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Prilagođeni font */
  background-color: #ffddb3; /* Boja pozadine kartica */
}

.cart-items ion-card-content {
  display: flex;
}

.cart-items .item-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
}

.cart-items .item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-items .qty-selector {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.cart-items .qty-selector ion-button {
  font-size: 24px;
  margin: 0 4px;
}

.total-price {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: overline;
  text-decoration-style: double;
  margin-top: 16px;

  text-align: right;
}

ion-footer.custom-footer {
  --ion-background-color: #ffddb3;
  --ion-text-color: #1a1a1a;
}

ion-footer.custom-footer ion-button {
  --ion-color-base: #ff7409;
  --ion-color-text-button: #ffffff;
}




